:root {
    font-size: 16px; /* Default size for desktops */
}

@media (max-width: 768px) {
    :root {
        font-size: 14px; /* Adjust for tablets and mobile devices */
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 12px; /* Further adjust for smaller mobile screens */
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0rem;
    font-size: 1.6rem;
    background-color: #efebd6;
    color: #333;
}

#logo {
    margin: 0rem;
    padding: 0.5rem;
    font-family: 'Baloo 2', sans-serif;
    width: 30%;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.125rem 0.125rem 0rem #2E2E2E, 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1); /* Creates bubble-like depth */
    -webkit-text-stroke: 0.125rem #2E2E2E; /* Adds dark outline */
}
ul {
    margin: 0rem;
}

body > header {
    background-color: #006442;
    color: #efebd6;
    display: flex;
    height: 8.1rem;
    align-items: center;
    justify-content: space-around;

}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}


#nav-ul {
    display: flex;
}
#nav-ul > li {
    padding: 0.5rem;
    margin: 1rem;
}

.navbutton {
    color: #efebd6;
    text-decoration: none;
    padding: 0.75rem;
    border: 0.1875rem solid #efebd6;
    border-radius: 8%;
    -webkit-text-stroke: 0.03125rem #2E2E2E; /* Adds dark outline */
}

body > main article {
    width: 70%;
    margin: auto
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #006442;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.1rem;
}

img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li > a {
    color: #efebd6;
    text-decoration: none;
    -webkit-text-stroke: 0.03125rem #2E2E2E; /* Adds dark outline */
    padding: 0.5rem;
    margin: 1rem;
}
.pho {
    text-align: center; 
}
.pho img {
    width: 25rem;
    height: 26.875rem;
}

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ca-list > li {
    margin-bottom: 2.025rem;
}

.hs > li {
    margin-bottom: 1.35rem;
}

.int > li {
    margin-bottom: 1.35rem;
}

.lin {
    list-style: none;
    text-decoration: none; 
    color: #0077B5; 
    font-size: 3rem;
}

.mail {
    list-style: none; 
    text-decoration: none; 
    color: #D44638; 
    font-size: 3rem;
}